@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.root {
  display: flex;
  margin: 10px;

  .wrapper {
    display: flex;
  }
  .notValid {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .warning {
    color: $color-alert;
    margin-left: 10px;
  }
}

@media (max-width: 576px) {
  .root {
    .wrapper {
      flex-direction: column;
      div {
        width: 100%;
      }
    }
    .warning {
      margin-left: 0;
      margin-top: 5px;
    }
  }
}
