.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.select-class {
  width: 20%;
  border: 1px solid grey;
  margin-right: 5px;
  padding: 5px;
}

.students-view {
  width: 80%;
  min-height: 80vh;
  padding: 0 20px;
}

.active-class {
  background: grey;
}
