@import "../../../styles/settings.scss";

.root {
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    min-height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    padding: 40px;
    border: 1px solid;
  }

  h1 {
    margin-bottom: 20px;
  }
}
