@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.root {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: $color-light;
  display: flex;
  justify-content: center;
  align-items: start;

  .wrapper {
    min-height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

  h1 {
    margin: 20px 0;
  }
}
