@import "../../../../styles/settings.scss";
@import "../../../../styles/global.scss";

.root {
  margin: 20px 0;
  padding: 10px;
  background-color: $color-light;
  border: 1px solid;

  .title {
    padding: 5px 10px;
  }

  .message {
    padding: 5px 10px;
    margin: 10px 0;
    background: $color-background;

    pre {
      white-space: pre-wrap;
    }
  }
}
