@import "../../../styles/settings.scss";

.aside {
  .root {
    z-index: 999999;
    transition: 0.4s;

    .asideWrapper {
      width: 250px;
      height: 500px;
      background: #fff;
      margin: 10px;
      padding: 20px;
      border: 1px solid;
      position: relative;
      .list {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 40px;
      }
    }

    .control {
      display: none;
      transition: 0.4s;
    }

    .controlActive {
      transition: 0.4s;
    }
  }

  .active {
    transition: 0.4s;
  }
}

@media (max-width: 768px) {
  .aside {
    .root {
      position: fixed;
      left: -250px;
      top: 0;
      bottom: 0;

      .asideWrapper {
        position: relative;
        height: 100vh;
        margin: 0;
        z-index: 222;
      }
      .control {
        display: block;
        position: absolute;
        top: 30%;
        bottom: 70%;
        right: -20px;
        width: 20px;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
      }

      .control:hover {
        cursor: pointer;
        color: $color-primary;
      }
    }
    .active {
      transform: translateX(100%);
    }

    .controlActive {
      transform: rotate(180deg);
    }
  }
}
