@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.root {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  word-break: break-word;

  .titleWithIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .root {
    flex-wrap: wrap;
  }
}
