@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.root {
  font-size: 20px;
}
.root:hover {
  cursor: pointer;
  color: $color-primary;
}

@media (max-width: 576px) {
  .root {
    span {
      display: none;
    }
  }
}
