@import "../../../../styles/settings.scss";
@import "../../../../styles/global.scss";

.root {
  margin: 20px 0;
  padding: 10px;
  background-color: $color-light;
  border: 1px solid;

  li {
    margin: 5px 0;
    padding: 5px;
  }
  .failBgColor {
    background: $task-fail-bg;
  }

  .succesBgColor {
    background: $task-success-bg;
  }
}
