@import "../../../../styles/settings.scss";
@import "../../../../styles/global.scss";

.root {
  padding: 10px;
  margin: 10px;

  .check {
    margin: 10px 0;
  }
  textarea {
    resize: none;
    width: 100%;
  }

  .answer {
    margin: 10px 0;
  }

  .fail {
    color: $color-alert;
  }

  .success {
    color: $color-success;
  }
}
