@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  @include tableItem($color-close-task);

  .hiddenTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .closeTaskContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contentView {
    flex: 1 1 300px;
    margin: 10px;
    div {
      display: inline;
    }
  }
}
.root:hover {
  background: lighten($color-close-task, 5%);
}
