@import "../../../../styles/settings.scss";
@import "../../../../styles/global.scss";

.root {
  min-height: 80vh;
  padding: 10px;
  margin: 10px;
  position: relative;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    p {
      display: flex;
      flex-direction: column;
    }
  }
  .result {
    margin: 10px 0;
    font-weight: 700;
  }

  .points {
    font-weight: 600;
    margin-left: 20px;
  }
  .item {
    height: 60px;
  }

  .questionBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .select {
    margin: 0 10px;
  }

  .check {
    margin: 10px 0;
  }

  .fail {
    color: $color-alert;
  }

  .success {
    color: $color-success;
  }
}
@media (max-width: 576px) {
  .root {
    padding: 5px;
    margin: 0;
    .header {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
