@import "../../../../styles/settings.scss";
@import "../../../../styles/global.scss";

.root {
  min-height: 80vh;
  padding: 10px;
  margin: 10px;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    p {
      display: flex;
      flex-direction: column;
    }
  }
  .result {
    margin: 10px 0;
    font-weight: 700;
  }

  .points {
    font-weight: 600;
    margin-left: 20px;
  }
  .item {
    height: 100%;
    padding: 10px;
    margin: 15px 0;
  }

  .select {
    border: 2px solid $color-dark;
    color: $color-dark;
    font-size: 12px;
    padding: 5px;
    transition: 0.3s;
    font-weight: 600;
  }

  .questionBox {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .check {
    margin: 10px 0;
  }

  .fail {
    color: $color-alert;
  }

  .success {
    color: $color-success;
  }
  .overlay {
    position: relative;
  }
  .overlay::before {
    z-index: 1000;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 576px) {
  .root {
    padding: 5px;
    margin: 0;
    .header {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .points {
      margin: 0;
    }
    .questionBox {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .select {
      margin: 10px 0;
    }
  }
}
