@import "../../../../styles/settings.scss";
@import "../../../../styles/global.scss";

.root {
  padding: 10px;
  margin: 10px;
  position: relative;

  .points {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 600;
  }

  .result {
    margin: 10px 0;
    font-weight: 700;
  }

  .item {
    height: 60px;
  }

  .select {
    margin: 0 10px;
  }

  .check {
    margin: 10px 0;
  }

  .fail {
    color: $color-alert;
  }

  .success {
    color: $color-success;
  }
}
