@import "../settings.scss";

.openTask {
  width: 100%;
  background-color: $color-open-task;
  padding: 5px;
  margin: 5px;
}
.closeTask {
  width: 100%;
  background-color: $color-close-task;
  padding: 5px;
  margin: 5px;
}
.booleanTask {
  width: 100%;
  background-color: $color-boolean-task;
  padding: 5px;
  margin: 5px;
}
