@import "../../../../../../styles/settings.scss";
@import "../../../../../../styles/global.scss";

.root {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;

  .addFrom {
    margin: 10px 0 10px 0;
  }

  .varList {
    background: $color-light;
    border: 1px solid;
  }

  .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  input {
    resize: none;
    width: 100%;
    font-size: 18px;
  }

  table {
    width: 100%;
  }

  button {
    margin-left: 10px;
  }

  .variable {
    width: 65px;
  }

  .description {
    border-bottom: 1px solid;
  }

  .varList {
    padding: 10px;
  }

  .listElement {
    position: relative;
  }
  .delete {
    position: absolute;
    top: 0;
    right: 0;
  }
}
