@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.root {
  table {
    width: 100%;

    tr {
      display: flex;
      justify-content: space-between;
    }
  }
  .name {
    text-decoration: underline;
  }
  .name:hover {
    cursor: pointer;
    font-weight: 600;
  }

  .statusBox {
    background: $color-light;
    padding: 5px;
    border: 1px solid black;
    font-weight: 700;
  }
  .success {
    color: $color-success;
  }
  .failed {
    color: $color-alert;
  }
  .toUpdate {
    color: $color-to-update;
  }

  .toDo {
    color: $color-to-do;
  }
}

@media (max-width: 576px) {
  .root {
    font-size: 15px;
  }
}

@media (max-width: 380px) {
  .root {
    font-size: 12px;
  }
}
