@import "../../../../styles/settings.scss";
@import "../../../../styles/global.scss";

.root {
  padding: 10px;
  margin: 10px;
  position: relative;

  .points {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 600;
  }

  .description {
    display: flex;
    flex-direction: column;
  }

  textarea {
    resize: none;
    width: 100%;
  }

  .result {
    background: $color-light;
    padding: 5px;
    border: 1px solid;
  }

  .listElement {
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;

    .order {
      display: flex;
      align-items: center;
    }

    .item {
      height: 50px;
    }
  }

  .check {
    margin: 20px 0;
  }

  .fail {
    color: $color-alert;
  }

  .success {
    color: $color-success;
  }

  .result {
    margin: 10px 0;
    font-weight: 700;
  }
}
