@import "../../../../styles/settings.scss";
@import "../../../../styles/global.scss";

.root {
  padding: 10px;
  margin: 10px;

  .listElement {
    height: 160px;
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;

    .order {
      display: flex;
      align-items: center;
    }

    .item {
      height: 50px;
    }
  }

  .fail {
    color: $color-alert;
  }

  .success {
    color: $color-success;
  }
}
