@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.root {
  .name {
    text-decoration: underline;
  }
  .name:hover {
    cursor: pointer;
    font-weight: 600;
  }
}
