@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.root {
  display: flex;
  flex-direction: column;
  min-height: 1000px;

  .wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
  }

  .sectionsWrapper {
    background: #fff;
  }

  .subList {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .root {
    .wrapper {
      flex-wrap: wrap;
    }
  }
}
