@import "../../../../../../styles/settings.scss";
@import "../../../../../../styles/global.scss";

.root {
  margin: 20px 0;

  textarea {
    resize: none;
    width: 100%;
    font-size: 18px;
  }

  table {
    width: 100%;
  }

  .variable {
    width: 65px;
  }

  .varList {
    padding: 20px;
    background-color: $color-light;
    border: solid 1px;
  }

  .warning {
    color: $color-alert;
  }
}
