@import "../../../../../../styles/settings.scss";
@import "../../../../../../styles/global.scss";

.root {
  display: flex;
  flex-direction: column;

  textarea {
    resize: none;
    width: 100%;
    font-size: 18px;
  }

  .warning {
    color: red;
  }
}
