@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.root {
  display: flex;
  flex-direction: column;

  .student {
    display: flex;
    justify-content: space-between;
  }

  .light {
    background: $color-contrast-list;
  }

  .light:hover {
    background: $color-background;
  }

  .review {
    color: $color-to-update;
  }
  .toUpdate {
    background: $color-to-update;
  }
}
