@import "../../../styles/settings.scss";

.root {
  display: flex;
  flex-direction: column;

  .btnClass {
    padding: 6px;
    margin: 2px;
  }

  .btnClass:hover {
    cursor: pointer;
    background-color: $color-background;
  }
}
