@import "../../../styles/settings.scss";

.root {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .wrapper {
    background: $color-background;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.5);
    width: 85%;
    min-height: 65vh;
    margin: 30px;
    padding: 30px;
  }
}

@media (max-width: 992px) {
  .root {
    .wrapper {
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .root {
    .wrapper {
      margin: 0;
      padding: 10px;
      box-shadow: none;
      min-height: 100vh;
    }
  }
}
