@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.root {
  color: $color-light;
  height: 80px;
  background: $color-primary;
  padding: 0 30px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    font-size: 20px;

    li {
      margin: 0 20px 0 20px;
    }
  }

  h1 {
    display: flex;
    align-items: center;
  }

  .logo {
    height: 40px;

    img {
      object-fit: cover;
      height: 100%;
    }
  }
}
