@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.root {
  .titleWithIcon {
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
