$color-light: #fff;
$color-dark: #222f3e;
$color-background: #f1f2f6;
$color-primary: #0652dd;
$color-secondary: #95afc0;
$color-success: #2ecc71;
$color-to-update: #fbc531;
$color-to-do: #273c75;

$color-contrast-list: #f8f8ff;

$color-open-task: #ff7979;
$color-close-task: #badc58;
$color-boolean-task: #3498db;
$color-failed-task: #7f8c8d;
$color-alert: #ea2027;

$font-header: "Montserrat", sans-serif;
$font-text: "Source Sans Pro", sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;

@mixin p-el($element) {
  &:#{$element},
  &::#{$element} {
    position: absolute;
    @content;
  }
}
