@import "../../../../../styles/settings.scss";
@import "../../../../../styles/global.scss";

.root {
  margin: 20px 0;
  display: flex;
  flex-direction: column;

  textarea {
    resize: none;
    width: 100%;
    font-size: 18px;
  }
}
